# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\lewis\OneDrive - Edinburgh Napier University\Modules\Fourth Year\CI\SET10107Coursework2023\SET10107Coursework2023\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
